<html>
    <head>
    </head>

    <body>
        <h1>Add Item</h1>
        <form action="{{ url_for('add') }}" name="add" method="POST">
            Item Name:<br>
            <input type="text" name="itemName" value="name goes here" required>
            <br><br>
            Item Description:<br>
            <textarea rows="4" cols="50" name="itemDescription" value="Description goes here" required>Description goes here</textarea>
            <br><br>
            Category:<br>
            <select name="category" required>
                {% for i in info %}
                <option name="{{ i.name }}">{{ i.name }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="button" onclick="location.href='http://localhost:5000/catalog/{{category}}/items';" value="Back To Items" />
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>