<html>
    <head>
    </head>

    <body>
        <h1>Edit Item</h1>
            <form action="#">
                Title:<br>
                <input type="text" name="Title" value="item title">
                <br>
                Description:<br>
                <input type="text" name="Description" value="item desc">
                <br><br>
                Category: <select>
                    <option value="Soccer">Soccer</option>
                    <option value="Snowboarding">Snowboarding</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
              </form> 
    </body>
</html>